/* ~/.config/waybar/style.css */
@import url("../../.cache/wal/colors-waybar.css");

/* ===== Base Styles ===== */
* {
    font-family: "Symbols Nerd Font Mono", monospace;
    font-size: 15px;
    font-weight: 900;
    min-height: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

window#waybar{
    all: unset;
}
.modules-left {
    margin: 5px 0px 2px 10px;
}
.modules-center {
    margin: 5px 0px 2px 0px;
}
.modules-right {
    margin: 5px 10px 2px 0px;
}

#waybar {
    color: @foreground;
    padding: 5px 15px;
    margin: 0px 2px;
    border-radius: 10px;
    background: @background;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
    border: solid 1px alpha(@foreground, 0.3);
}

tooltip {
    background: @background;
    border: 1px solid alpha(@color1, 0.8);
    color: @foreground;
}

#clock:hover, #network:hover, #power-profiles-daemon:hover, #idle_inhibitor:hover, #battery:hover, #pulseaudio:hover, #backlight:hover, #workspaces:hover, label {
    color: @color3;
}

.modules-right .module, .modules-left .module, .modules-center {
    padding: 0px 10px;
    color: @foreground;
}

#clock, #network, #power-profiles-daemon, #idle_inhibitor, #battery, #pulseaudio, #backlight, #workspaces {
    color: @foreground;
    padding: 5px 15px;
    margin: 0px 2px; 
    border-radius: 10px;
    background: alpha(@background, .9);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .85);
    border: solid 1px alpha(@foreground, 0.3);
}


#workspaces {
	margin-left: 0px;
}

#workspaces button {
    all: unset;
    padding: 0px 10px;
}

#workspaces button label {
    color: alpha(@foreground, 0.8);
	font-weight: 600;
}

#workspaces button:hover label {
    color: @color3;
}

#workspaces button.active label {
    color: @color3;
    font-weight: 900;
}

